.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
@media  (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;

    }
}
*
{
	box-sizing: border-box;

}
body{margin:0;}
header
{
 
}
#headerfdiv
{
	padding-top: 50px;
	padding-left: 40px;
	
	padding-bottom: 40px;
	float: left;
    
}
#headersdiv
{
	
	float: right;

}
#menubtn
{
   border:none;
   background-color: white;
}
.ulclass1
{
	list-style-type: none;
	float: left;
	padding: 0px;

}
.liclass1
{
   display: inline;
}
.liclass1 a
{
	text-transform: uppercase;
	text-decoration: none;
	font-size: 17pt;
	font-family: verdana,sans-serif;
}
.liclass1 a:hover
{
   	color:#e8be3e;

}

.inlineblc{display: inline-block;float: left;}
#headersdivchild1
{
    

}
#headersdivchild2
{

  
  
}
#headersdivchild3
{

	
}
#headersdivchild4
{
	
 
}
#crogher
{
	
}
#crogher span
{
	text-transform: uppercase;
	font-size: 31pt;
	
}
#secondpart
{
    
   border:1px solid red;
   clear:right;

}
#secondpartdiv1
{
    
    
}
#secondpartdiv1 img
{

}
#secondpartdiv2
{

	position: relative;
	background-color: black;	
}
#secondpartdiv2 div
{
	position: absolute;
	top:0;
}
#secondpartdiv2 img
{
	width: 100%;
	position: absolute;
	top:0;
}
#secondpartdiv3
{
	
}
#secondpartdiv3 src{}
#ulid3{display: block;list-style-type: none;padding: 0px;}
#ulid3 li {float:left;margin-right:10px;}
#ulid3 li a{text-decoration: none;}
#ulid3 li a:hover{background-color: grey;}
 .cutawaymandarin2order
 {
    display: inline-block;
    float: left;
   
 }
 .addtocartbuynow
 {
 	display: inline-block;

 }

